
.site-main { 
    font-family: $main-font;
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.home-blog{
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-thumbnail {
    position: relative;
z-index: -1;
}

.post-thumbnail a {
    display: block;
}

.post-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $post-details;
    padding: 10px;
    text-align: center;
}

.post-details h3 {
    margin: 0;
    font-size: 18px;
    color: $post-details-h3;
    transition: color 0.3s ease;
}

.all-news {
    margin: 0;
    font-size: 18px;
    color: $post-details-h3;
    transition: color 0.3s ease;
}
.all-news:hover a {
    color: $post-details-hover;
}

.post-details a:hover {
    text-decoration: underline;
}

.post-details:hover h3 {
    color: $post-details-hover;
}

.alignwide {
    margin-left: 0px;
    width: calc(100% + 50px);
    max-width: calc(100% + 50px);
}

.alignfull {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
	width: auto;
}
.news {
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(50px); /* Initially move element down by 50px */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Add transition effects */
  }
  
  .news.animate {
    opacity: 1; /* Animate opacity to 1 */
    transform: translateY(0); /* Animate element back to its original position */
  }
}