@use "colors" as *;

.site-main { 
    margin: 0 auto;
    margin-top: 8rem;

.schedule-caption { 
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
table { 
    thead { 
        th {
            font-size: 1.3rem;
        }
    }
    margin: 0 auto;
    tbody {
        td { 
            text-align: center;
            padding: 1rem;
        }
    tr:nth-child(2n+1) { 
        background-color: $schedule-child-background; 
    }
}
}
}

// Media Query 
@media (min-width: 20rem) { 
    .site-main {
        p { 
            font-size: 0.8rem;
        }
    .table-wrapper {
        overflow-x: auto;
    }

    table {
        width: 100%;
    }
}
}

@media (min-width: 37.5rem) {
    .site-main { 
        p { 
            font-size: 1rem;
        }
        table { 
           tbody {
            td { 
                font-size: 1rem;
            }
           }
        }
    }
}