

.site-main { 
    margin: 0 auto;
    margin-top: 8rem;
    font-family: $main-font;

.schedule-caption { 
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
table { 
    thead { 
        th {
            font-size: 1.3rem;
        }
    }
    margin: 0 auto;
    tbody {
        td { 
            text-align: center;
            padding: 1rem;
        }
    tr:nth-child(2n+1) { 
        background-color: $schedule-child-background; 
    }
}
}
}

// Media Query 
@media (min-width: 20rem) { 
    .schedule-page {
        p { 
            font-size: 1rem;
        }
    .table-wrapper {
        overflow-x: auto;
    }

    table { 
        width: 100%;
        tbody {
         td { 
             font-size: 0.9rem;
         }
        }
     }
}
}

@media (min-width: 37.5rem) {
    .schedule-page { 
        p { 
            font-size: 1.2rem;
        }
        table { 
           tbody {
            td { 
                font-size: 1.1rem;
            }
           }
        }
    }
}