@use "typography" as *;

.site-main { 
    width: 80%;
	font-family: $main-font;
.faculty-staff { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    a {
        text-decoration: none;
    }
    
    .faculty-header { 
        text-decoration: underline;
        font-size: 2rem;
        width: 100%;
    }
    .faculty-member { 
        margin: 0;
        h3 {
            font-size: 1.5rem;
        }
    }

}

.admin-staff { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    .admin-header { 
        width: 100%;
        text-decoration: underline;
        font-size: 2rem;
    }
    .admin-member { 
        margin: 0;
        h3 {
            font-size: 1.5rem;
        }
    }
}
}

@media (min-width: 20rem) {
    .admin-member, .faculty-member {
    width: 100%;
    }
}
@media (min-width: 37.5rem) {
    .admin-member, .faculty-member {
    width: 48%;
    }
}