.students { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    a { 
        text-decoration: none;
        color: rgb(6, 6, 145);
        font-weight: bold;
    }
    .single-student { 
        margin-bottom: 3rem;
        text-decoration: none;
        img { 
            width: 300px;
            height: 200px;
            object-fit: cover;
        }
    }
}

@media (min-width: 20rem) { 
    .single-student { 
        width: 100%;
    }
}
@media (min-width: 37.5rem) { 
    .single-student { 
        width: 48%;
    }
}
@media (min-width: 56.25rem) { 
    .single-student { 
        width: 30%;
    }
}

